#local-stream {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
}

#remote-stream {
    position: fixed;
    z-index: 0;
    right: 20px;
    bottom: 20px;
    width: 200px;
    min-width: 200px;
    height: 150px;
    min-height: 150px;
    -webkit-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.77);
    -moz-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.77);
    box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.77);
}
