@import url(https://fonts.googleapis.com/css?family=Roboto);

#local-stream, #remote-stream {
   position: fixed;
   z-index: 0;
   bottom: 20px;
   width: 400px;
   min-width: 400px;
   height: 300px;
   min-height: 300px;
   -webkit-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.77);
   -moz-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.77);
   box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.77);
}

#local-stream video, #remote-stream video {
  position: absolute;
  width: 400px;
  height: 300px;
  z-index: 90;
}

#local-stream {
  right: 20px;
}

#remote-stream {
  left: 20px;
}

.title {
   color: white;
   text-shadow: 0 2px 2px black;
   font-size: 6em;
   margin-bottom: 25px;
   font-weight: bold;
   text-align: center;
}

.fullscreen {
   position: fixed;
   right: 0;
   bottom: 0;
   top: 0;
   left: 0;
   min-width: 100%;
   min-height: 100%;
   width: auto;
   height: auto;
   background-size: cover;
}

.background {
 background: url(emotion.jpg) no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}

#remote-stream {
   position: fixed;
   z-index: 0;
   right: 20px;
   bottom: 20px;
   width: 400px;
   min-width: 400px;
   height: 300px;
   min-height: 300px;
   -webkit-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.77);
   -moz-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.77);
   box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.77);
}


.scale {
   -webkit-transform : scale(3000);
   -moz-transform    : scale(3000);
   -ms-transform     : scale(3000);
   -o-transform      : scale(3000);
   transform         : scale(3000);
}
