<template name="layout">
  <div class="title">
    Gesture Game
  </div>

  <div id="mode-buttons">
    <ul>
      <li><a class="round green">:D<span class="round">Game mode 1 bla bla</span></a></li>
      <li><a href="#" class="round red">:(<span class="round">Game mode 2 bla bla</span></a></li>
      <li><a href="#" class="round yellow">:0<span class="round">Game mode 3 bla bla</span></a></li>
    </ul>
  </div>

  {{> Template.dynamic template=main }}
</template>

<body class="fullscreen">
</body>
