<template name="stream">
  <!-- <video id="remote-stream" src="{{Game.getSignaller.localStream}}" autoplay muted></video> -->
  {{#with Game.getSignaller }}
    <div id="local-stream">
      <button class="start-tracker">Start</button>
      {{#if waitingForUserMedia }}
        {{> spinner }}
      {{/if}}

      {{#if getLocalStream }}
        <video width="200" height="150" src="{{getLocalStream}}" autoplay muted></video>
      {{/if}}

      <canvas id="tracker-overlay" width="200" height="150"></canvas>
    </div>
  {{/with}}
</template>
