<template name="stream">
  {{#with Game.getSignaller }}
    <p id="currentTarget">{{Game._currentTarget.get}}</p>
    <div id="remote-stream">
      <p id="remote-score" class="score">{{Game._remoteMax.get}}</p>
      <video width="400" height="300" src="{{getLocalStream}}" autoplay muted></video>
    </div>

    <div id="local-stream">
      <button class="start-tracker">Start</button>
      {{#if waitingForUserMedia }}
        {{> spinner }}
      {{/if}}

      {{#if getLocalStream }}
        <video width="400" height="300" src="{{getLocalStream}}" autoplay muted></video>
      {{/if}}

      <p id="local-score" class="score">{{Game._localMax.get}}</p>
      <canvas id="tracker-overlay" width="400" height="300"></canvas>
    </div>

    <div id="result-container">
      <canvas width="400" height="300" id="remote-ss"></canvas>
      <img src="vs_icon.png" class="vs-icon" />
      <canvas width="400" height="300" id="local-ss"></canvas>
    </div>
  {{/with}}
</template>
