.start-tracker {
  position: absolute;
  top: -20px;
}

#tracker-overlay {
  position: absolute;
  width: 400px;
  height: 300px;

  z-index: 100;
}

#local-ss, #remote-ss {
  position: absolute;
  top: -350px;
}

#currentTarget {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: black;
  font-size: 20px;
}

.score {
  position: absolute;
  top: -50px;
  font-size: 20px;
  color: black;
}
